body{
	background-color: rgb(240,240,240);
	color: black;
	font-family: 'Optima', sans-serif;
}


h1{
    color: #b50b98fa;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight= 500; > c'est la largeur de la police
}

h2{
	color: purple;
	font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 545;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #251717ba;
    font-weight: 600;
    font-size: 16px;
} 

a:hover {
    color: black;
}

/* Colors and fonts */

.container {
    width:700px;
    margin:40px auto;
}

.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: 20px 0px;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
}

.btn-purple {
    background-color: purple;
    color: white;
    padding: 15px 20px;
    border-radius:4px;
}

.btn-purple:hover {
    background-color: black;
    color: white;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 10px;
}

#introduction p {
    margin-bottom: 40px;
}


@media(max-width: 760px) {
    .container{
        width: 600px;
    }
}

@media(max-width: 500px) {
    .container{
        width: 400px;



